In [3]:
import yfinance as yf
from datetime import datetime, timedelta
import os
from dotenv import load_dotenv
from fredapi import Fred

In [11]:
end_date = datetime.today()
start_date = end_date - timedelta(days = 5*365)
 
data = yf.download('XBB', start = start_date,end = end_date, )['Close']
data

[*********************100%***********************]  1 of 1 completed

Date
2022-05-26    41.590000
2022-05-27    41.654999
2022-05-31    41.564999
2022-06-01    41.470001
2022-06-02    41.439999
                ...
2023-06-27    38.880001
2023-06-28    39.099998
2023-06-29    38.945999
2023-06-30    39.094002
2023-07-03    38.908001
Name: Close, Length: 276, dtype: float64

In [ ]:
load_dotenv()
fred_api_key = os.getenv('FRED_STLOUIS_API_KEY')
fred = Fred(api_key=fred_api_key)
xic = fred.get_series('XIC.TO')

In [ ]:
import pandas_datareader.data as web
spx_df = web.DataReader(['XBB'], 'fred', start_date, end_date)

In [40]:
import yahoo_fin.stock_info as ys
end_date = datetime.today()
start_date = end_date - timedelta(days = 5*365)
data = ys.get_data('XBB', start_date, end_date)

In [41]:
data

,open,high,low,close,adjclose,volume,ticker
2022-05-26,41.000000,41.590000,41.000000,41.590000,39.438927,783700,XBB
2022-05-27,41.689999,41.689999,41.654999,41.654999,39.500557,1800,XBB
2022-05-31,41.564999,41.564999,41.564999,41.564999,39.415218,100,XBB
2022-06-01,41.470001,41.470001,41.470001,41.470001,39.325138,100,XBB
2022-06-02,41.439999,41.439999,41.439999,41.439999,39.296680,0,XBB
...,...,...,...,...,...,...,...
2023-06-27,38.880001,39.389999,38.855000,38.880001,38.880001,60400,XBB
2023-06-28,39.070000,39.150002,39.060001,39.099998,39.099998,5800,XBB
2023-06-29,38.990002,39.000000,38.945999,38.945999,38.945999,500,XBB
2023-06-30,39.110001,39.200001,39.020000,39.094002,39.094002,4600,XBB
2023-07-03,38.908001,38.908001,38.908001,38.908001,38.908001,100,XBB

In [44]:
import alpaca_trade_api as tradeapi
import pandas as pd
    
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

# Create the Alpaca API object
alpaca_api = tradeapi.REST(
       alpaca_api_key,
       alpaca_secret_key,
       api_version = 'v2'
)
    
# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

today_date = pd.to_datetime('today').normalize()
    
today = pd.Timestamp(today_date,tz='America/New_York')
start = today - pd.Timedelta(365*5, 'd')

            
# Get number_of_years' worth of historical data for tickers
data_df = alpaca_api.get_bars(
        ['XBB'],
        timeframe,
        adjustment = 'all',
        start = start.isoformat(),
        end = today.isoformat()
).df
    
data_df.index = data_df.index.date
data_df

,open,high,low,close,volume,trade_count,vwap,symbol
2022-05-26,38.3300,38.8800,38.3300,38.8800,783688,12,38.5300,XBB
2022-05-27,38.9700,38.9700,38.9400,38.9400,1803,5,38.9700,XBB
2022-05-31,38.8600,38.8600,38.8600,38.8600,1,1,38.9000,XBB
2022-06-01,38.7700,38.7700,38.7700,38.7700,1,1,38.7700,XBB
2022-06-02,38.7700,38.7700,38.7700,38.7700,0,0,0.0000,XBB
...,...,...,...,...,...,...,...,...
2023-06-27,38.7100,39.2100,38.6800,38.7100,60405,381,38.7800,XBB
2023-06-28,38.8900,38.9700,38.8800,38.9200,5844,58,38.9400,XBB
2023-06-29,38.8100,38.8200,38.7700,38.7700,479,10,38.8200,XBB
2023-06-30,38.8400,39.0200,38.8400,38.9200,4488,38,38.9900,XBB
2023-07-03,38.9081,38.9081,38.9081,38.9081,7,6,38.9016,XBB

In [9]:
alphavantage_api_key = os.getenv('ALPHAVANTAGE_API_KEY')
print(alphavantage_api_key)
f = web.DataReader("XBB", "av-daily-adjusted", start=datetime(2018, 7, 6),
                           end=datetime(2023, 7, 5),
                          api_key=alphavantage_api_key)

5A47FW6GL77UO6LV

In [10]:
f

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2022-05-26,41.0000,41.5900,41.0000,41.5900,38.879141,783688,0.0000,1.0
2022-05-27,41.6900,41.6900,41.6550,41.6550,38.939904,1803,0.0000,1.0
2022-05-31,41.5650,41.5650,41.5650,41.5650,38.855771,1,0.0000,1.0
2022-06-01,41.4700,41.4700,41.4700,41.4700,38.766963,1,0.0000,1.0
2022-06-02,41.4400,41.4400,41.4400,41.4400,38.738918,1,0.0000,1.0
...,...,...,...,...,...,...,...,...
2023-06-27,38.8800,39.3900,38.8550,38.8800,38.705117,60405,0.0000,1.0
2023-06-28,39.0700,39.1500,39.0600,39.1000,38.924128,5844,0.0000,1.0
2023-06-29,38.9900,39.0000,38.9458,38.9458,38.770621,479,0.0000,1.0
2023-06-30,39.1100,39.2000,39.0200,39.0939,38.918055,4646,0.0000,1.0
2023-07-03,38.9081,38.9081,38.9081,38.9081,38.908100,7,0.1758,1.0